= form_for(@<%= singular_table_name %>) do |f|
  - if @<%= singular_table_name %>.errors.any?
    %div#error_explanation
      %h2= #{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:

      %ul
      - @<%= singular_table_name %>.errors.full_messages.each do |msg|
        %li= msg

<% for attribute in attributes -%>
  %div.field
    = f.label :<%= attribute.name %>
    %br
    = f.<%= attribute.field_type %> :<%= attribute.name %>
<% end -%>
  %div.actions
    = f.submit
