%h1 Listing <%= plural_table_name %>

%table
  %tr
<% for attribute in attributes -%>
    %th <%= attribute.human_name %>
<% end -%>
    %th
    %th
    %th

  - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
    %tr
<% for attribute in attributes -%>
      %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
      %td= link_to 'Show', <%= singular_table_name %>
      %td= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
      %td= link_to 'Destroy', <%= singular_table_name %>, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Add new <%= human_name %>', new_<%= singular_table_name %>_path
